<configuration debug="false">
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <!-- Added ":-." to avoid "application.home_IS_UNDEFINED" directory creation -->
      <file>${application.home:-.}/logs/application.log</file>
     <encoder>
       <pattern>%date - [%level] - from %logger in %thread %n%message%n%xException%n</pattern>
     </encoder>
   </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{5}</pattern>
    </encoder>
  </appender>

  <!-- # level of
       # request	       effective level q
       #         TRACE	DEBUG	INFO	WARN	ERROR	OFF
       # TRACE	  YES	  NO	  NO	  NO  	  NO	  NO
       # DEBUG	  YES	  YES	  NO	  NO	  NO	  NO
       # INFO	  YES	  YES	  YES	  NO	  NO	  NO
       # WARN	  YES	  YES	  YES	  YES	  NO	  NO
       # ERROR	  YES	  YES	  YES	  YES	  YES	  NO
       # See http://logback.qos.ch/manual/architecture.html -->
  <logger name="service" level="INFO" />
  <logger name="test" level="INFO" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>

